@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-surface-950 text-gray-100 m-0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    @apply min-h-screen;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #080808;
  }
  ::-webkit-scrollbar-thumb {
    background: #2E2E2E;
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #F59E0B;
  }
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  body { background: white !important; color: black !important; }
}
