@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-surface-950 text-gray-100 m-0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    @apply min-h-screen;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0F0F17;
  }
  ::-webkit-scrollbar-thumb {
    background: #2A2A45;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #363655;
  }
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  body { background: white !important; color: black !important; }
}
